spring-boot/webservice-client-jaxws/src/main/resources/wsdl/v1/GreetingService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="GreetingService"
                  targetNamespace="urn:no:acntech:sandbox:webservice:greeting:v1"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="urn:no:acntech:sandbox:webservice:greeting:v1"
                  xmlns:types="urn:no:acntech:sandbox:webservice:greeting:v1:types"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="urn:no:acntech:sandbox:webservice:greeting:v1:types">
            <xsd:element name="SayHelloRequestType">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="firstName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SayHelloResponseType">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="greeting" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="SayHelloRequest">
        <wsdl:part name="parameters" element="types:SayHelloRequestType"/>
    </wsdl:message>

    <wsdl:message name="SayHelloResponse">
        <wsdl:part name="parameters" element="types:SayHelloResponseType"/>
    </wsdl:message>

    <wsdl:portType name="GreetingPortType">
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:SayHelloRequest"/>
            <wsdl:output message="tns:SayHelloResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="GreetingBinding" type="tns:GreetingPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="urn:no:acntech:sandbox:webservice:greeting:v1:GreetingService/sayHello"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="GreetingService">
        <wsdl:port binding="tns:GreetingBinding" name="GreetingPort">
            <soap:address location="http://localhost:8080/ws/v1/greeting"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
